
<div class="container-fluid mt-5">
  <div class="container">
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="form-group">
        <form action="" class="example-form" [formGroup]="logindata">
          Username:
          <input
            type="text"
            class="form-control"
            placeholder="Enter username"
            name="username" formControlName="username" [ngClass]="{'is-invalid':logindata.get('username').dirty && logindata.get('username').invalid}"/>
          <div *ngIf="logindata.get('username').dirty && logindata.get('username').invalid" class="invalid-feedback">Please
            Enter Username</div>
          Password:
          <input
            type="password"
            class="form-control"
            placeholder="Enter username"
            name="password" formControlName="password"
            [ngClass]="{'is-invalid':logindata.get('password').dirty && logindata.get('password').invalid}" minlength="5" maxlength="8"
          />
          <div *ngIf="logindata.get('password').dirty && logindata.get('password').invalid" class="invalid-feedback">Please
            Enter Password</div>

          <input type="button" class="btn btn-success mt-3" value="Login" (click)="login();">
        </form>
      </div>
    </div>
    </div>
  </div>
</div>

<app-input></app-input>
